node_modules
.env


# Build output
dist/
build/

# Testing
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/migrations/

# Misc
.cache/